/********** Base styles **********/
* {
    box-sizing: border-box;
    font-family: Helvetica;
}

#header-nav {
    background-color: lightblue;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    padding-top: 25px;
}

.title {
    margin: -10px;
    padding-left: 10px;
}

.menu-color {
    background-color: aliceblue;
}

.menu-item {
    border-bottom: 1px solid lightblue;
}

.textbox {
    text-overflow: clip;
    overflow: hidden;
    background-color: cadetblue;
    height: 1000px;
    padding: 10px;
}

.container {
    margin: 0%
}

/********** PC Mode **********/


/********** Tablet Mode **********/